#glass-sphere {
    top: 180px;
    left: 20px;
}

#hose {
    top: 250px;
    left: 100px;
}

#clamp {
    top: 180px;
    left: 185px;
}

#pump {
    top: 180px;
    left: 260px;
}

#scale {
    top: 300px;
    left: 20px;
}

#water-container {
    top: 180px;
    left: 400px;
}

#cylinder {
    top: 180px;
    left: 570px;
}